<!DOCTYPE html>
<html>
    <head>
        <title>퀴즈 목록</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/css/bootstrap.min.css" />

</head>

    <body class="container">
        {% for quiz in quizzes %}
        <div class="quiz_container">
            <span>{{ quiz.pk }}</span>

            <a href="/quiz/{{ quiz.pk }}/">
                {% if quiz.image %}
                <img src="{{ quiz.image.url }}" alt="퀴즈이미지" />
                {% endif %}
                <h3>{{ quiz.title }}</h3>
            </a>
        </div>
        {% endfor %}

        <p>현재 페이지 : {{ page }}</p>
    </body>
</html>
